body {
  padding-top: 20px;
}
.card {
  margin-bottom: 20px;
}
.nav-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f8f9fa;
  border-top: 1px solid #ddd;
  display: flex;
  justify-content: space-around;
}
.nav-bar .nav-item {
  text-align: center;
  flex-grow: 1;
}
.icon-size {
  font-size: 2rem;
}
.offcanvas-end {
  width: 250px;
}
